[info]
logo              = http://localhost:8180/collectionspace/ui/omca/images/omca-logo.gif

[grouper]
# grouper uses solr to display results for group members, normally the core for the internal portal
# however, the REST updates are made using the users credentials for the server configured in main.cfg
FIELDDEFINITIONS    = omcainternalparms.csv
MAXRESULTS          = 1000
TITLE               = Grouper
NUMBERFIELD         = objnumber_s
CSIDFIELD           = csid_s
