<style>
    .grid {
        padding: 12px;
    }

    .card:hover {
        /* https://tobiasahlin.com/blog/how-to-animate-box-shadow */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }
</style>
<table>
    <tr class="grid">
        <td colspan=5>
            <h5 style="margin-top: 15px; font-size: 1.0em" class='section-heading'>Explore the collection</h5>
            <p style="text-align: justify; font-size: 85%; line-height: 1.3em;">
                More than 300,000 objects are available to browse online. To help you get started, we’ve grouped
                selections of objects based on shared themes, makers, medium, and types.
                Or use the keyword box above for a broad search or the filters to the left for a more narrow search.
                For more information, check out our <a href="https://museumca.org/about-the-collection#FAQs">FAQ</a>.
            </p>
            <p style="text-align: justify; font-size: 85%; line-height: 1.3em;">
                As you browse OMCA’s collection, you may find images and depictions of sexuality, violence, and racism.
                You may also find descriptions and terminology used by object catalogers over the past century that
                contain harmful words or phrases; the work of updating cataloging language is ongoing.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <div class="imageGallery" id="image-gallery-container">
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=text&q=Blacklight+Highlights&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s01.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Highlights</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=recent_acquisitions_s&q=RECENT_ACQUISITION&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s02.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">New to the Collection</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=objectname_txt&q=footwear&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s03.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Footwear</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=objectname_txt&q=jewelry&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s04.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Jewelry</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=objectname_txt&q=Painting&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s05.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Painting</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?q=Sculpture&search_field=objectname_txt&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s06.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Sculpture</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=objectname_txt&q=taxidermied+specimen&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s07.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Taxidermy</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=objectname_txt&q=work+on+paper&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s08.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Works on paper</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=collection_txt&q=Calli+Americas&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s09.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Calli Americas, Margaret Terrazas Santos Collection</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?q=Dorothea+Lange&search_field=objectproductionperson_txt&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s10.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Dorothea Lange Collection</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=collection_txt&q=tribune&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s11.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Oakland Tribune Newspaper Collection</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=collection_txt&q=Xavier+Martinez&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s12.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Xavier Martinez Collection</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=contentconcepts_txt&q=protest&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s13.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Activism</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=contentorganizations_txt&q=Black+Panther+Party&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s14.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Black Panther Party</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=contentplaces_txt&q=Oakland&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s15.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Oakland Life</h6>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 16rem;">
                    <a href="/?search_field=contentplaces&q=lake+merritt&per_page=12&view=gallery">
                        <img class="card-img-top" alt="Card image cap" src="s16.jpg">
                        <div class="card-body" style="margin: 0.7rem; padding: 0px;">
                            <h6 class="card-title">Scenes of Lake Merritt</h6>
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>
