<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {
    float: right;
    font-size: 85%;
}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;Play well you know you know yeah
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
        <h5 style="font-size: 1.5em" class='section-heading'>Explore the collection</h5>
<p style="text-align: justify; font-size: 85%; line-height: 1.3em;">
        We are more than a museum. We’re a museum, garden, and gathering place.
        With more than 1.9 million objects, OMCA brings together our
        multidisciplinary collections of art, history, and natural science,
        all within our 110,000 square feet of gallery space and seven-acre campus.
        </p>
</td>

<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Arthur+and+Lucia+Mathews&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('0705538b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Arthur+and+Lucia+Mathews&amp;per_page=50&amp;view=masonry">Arthur and Lucia Mathews ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Arthur+and+Lucia+Mathews&amp;per_page=50&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5BHas+image%5D%5B%5D=has_image&per_page=50&q=automobiles&search_field=text&view=masonry">
<div class="thumb" style="background-image: url('0416322b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5BHas+image%5D%5B%5D=has_image&per_page=50&q=automobiles&search_field=text&view=masonry">Automobiles ></a></b>
<!-- a class="fr" href="?f%5BHas+image%5D%5B%5D=has_image&per_page=50&q=automobiles&search_field=text&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Berkeley%2C+California&amp;view=masonry">
<div class="thumb" style="background-image: url('0716489b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Berkeley%2C+California&amp;view=masonry">Berkeley, California ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Berkeley%2C+California&amp;view=masonry"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Bob+Walker&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('0210262b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Bob+Walker&amp;per_page=50&amp;view=masonry">Bob Walker ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Bob+Walker&amp;per_page=50&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Contra+Costa+County%2C+California&amp;view=masonry">
<div class="thumb" style="background-image: url('0719992b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Contra+Costa+County%2C+California&amp;view=masonry">Contra Costa County, California ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Contra+Costa+County%2C+California&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Dorothea+Lange&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('A67.137.93840_14AD_597_A3.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Dorothea+Lange&amp;per_page=50&amp;view=masonry">Dorothea Lange ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Dorothea+Lange&amp;per_page=50&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Kahn+Collection&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('0710227b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Kahn+Collection&amp;per_page=50&amp;view=masonry">Kahn Collection ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Kahn+Collection&amp;per_page=50&amp;view=masonry"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Morgan+Territory&amp;view=masonry">
<div class="thumb" style="background-image: url('0722163b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Morgan+Territory&amp;view=masonry">Morgan Territory ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Morgan+Territory&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Mount+Diablo&amp;view=masonry">
<div class="thumb" style="background-image: url('0724384b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Mount+Diablo&amp;view=masonry">Mount Diablo ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Mount+Diablo&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Oakland&amp;view=masonry">
<div class="thumb" style="background-image: url('0724791b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Oakland&amp;view=masonry">Oakland ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Oakland&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=San+Francisco+Bay&amp;view=masonry">
<div class="thumb" style="background-image: url('0727140b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=San+Francisco+Bay&amp;view=masonry">San Francisco Bay ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=San+Francisco+Bay&amp;view=masonry"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Sierra+Nevada&amp;view=masonry">
<div class="thumb" style="background-image: url('0727165b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Sierra+Nevada&amp;view=masonry">Sierra Nevada ></a></b>
<!-- a class="fr" href="/?f%5Bcontentplaces_ss%5D%5B%5D=Sierra+Nevada&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Ted+and+Ruth+Nash&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('0710045b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Ted+and+Ruth+Nash&amp;per_page=50&amp;view=masonry">Ted and Ruth Nash ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Ted+and+Ruth+Nash&amp;per_page=50&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Tribune&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('0423290b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Tribune&amp;per_page=50&amp;view=masonry">Tribune ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Tribune&amp;per_page=50&amp;view=masonry"></a -->
</td>
<td class="splash_td">
<a href="/?f%5Bcollection_s%5D%5B%5D=Margaret+De+Patta&amp;per_page=50&amp;view=masonry">
<div class="thumb" style="background-image: url('0710241b.jpg');" title=""></div></a>
<br/><b><a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Margaret+De+Patta&amp;per_page=50&amp;view=masonry">Margaret De Patta ></a></b>
<!-- a class="fr" href="/?f%5Bcollection_s%5D%5B%5D=Margaret+De+Patta&amp;per_page=50&amp;view=masonry"></a -->
</td>
</table>
