<style>
    .grid {
        padding: 12px;
    }

    .thumb {
        display: inline-block;
        width: 100%;
    }

    .thumb:hover {
        /* https://tobiasahlin.com/blog/how-to-animate-box-shadow */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }
</style>
<table>
    <tr class="grid">
        <td colspan=5>
            <h5 style="margin-top: 15px; font-size: 1.0em" class='section-heading'>Explore the collection</h5>
            <p style="text-align: justify; font-size: 85%; line-height: 1.3em;">
                More than 300,000 objects are available to browse online. To help you get started, we’ve grouped
                selections of
                objects based on shared themes, makers, medium, and types.
                Or use the keyword box above for a broad search or the filters to the left for a more narrow search.
                For more information, check out our <a href="">FAQ</a>.
            </p>
            <p style="text-align: justify; font-size: 75%; line-height: 1.2em;">
                As you browse OMCA’s collection, you may find images and depictions of sexuality, violence, and racism.
                You may also find descriptions and terminology used by object catalogers over the past century that
                contain harmful words or phrases; the work of updating cataloging language is ongoing.
            </p>
            <hr/>
        </td>
    </tr>
    <tr class="grid">
        <td>
            <div class="imageGallery" id="image-gallery-container">
                <div class="gallery-item">
                    <a href="/?f[highlights_ss][]=Blacklight+Highlights&view=gallery">
                        <div class="thumb"><img class="img-fluid" src="s01.jpg">
                            <br/><b>Highlights ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="Accession number -5 years">
                        <div class="thumb"><img class="img-fluid" src="s02.jpg">
                            <br/><b>Recent Acquisitions ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bobjectproductionperson_ss%5D%5B%5D=Dorothea+Lange&view=gallery">
                        <div class="thumb"><img class="img-fluid" src="s03.jpg">
                            <br/><b>Dorothea Lange ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?view=gallery&search_field=collection_txt&q=tribune">
                        <div class="thumb"><img class="img-fluid" src="s04.jpg">
                            <br/><b>Oakland Tribune ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?view=gallery&search_field=contentorganizations_txt&q=Black+Panther+Party">
                        <div class="thumb"><img class="img-fluid" src="s05.jpg">
                            <br/><b>Black Panther Party ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?page=28&q=jewelry&search_field=objectname_txt">
                        <div class="thumb"><img class="img-fluid" src="s06.jpg">
                            <br/><b>Jewelry ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?search_field=contentplaces_txt&q=lake+merritt">
                        <div class="thumb"><img class="img-fluid" src="s07.jpg">
                            <br/><b>Lake Merritt ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?view=gallery&search_field=objectproductionperson_txt&q=joanne+leonard">
                        <div class="thumb"><img class="img-fluid" src="s08.jpg">
                            <br/><b>Joanne Leonard ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bobjectname_ss%5D%5B%5D=taxidermied+specimen&page=19&view=masonry">
                        <div class="thumb"><img class="img-fluid" src="s09.jpg">
                            <br/><b>Taxidermy ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?per_page=50&q=protest&search_field=text">
                        <div class="thumb"><img class="img-fluid" src="s10.jpg">
                            <br/><b>Protests ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bobjectname_ss%5D%5B%5D=painting&search_field=text ">
                        <div class="thumb"><img class="img-fluid" src="s11.jpg">
                            <br/><b>Paintings ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?view=gallery&search_field=collection_txt&q=Calli+Americas">
                        <div class="thumb"><img class="img-fluid" src="s12.jpg">
                            <br/><b>Calli Americas ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bcontentplaces_ss%5D%5B%5D=Oakland&search_field=text&view=masonry">
                        <div class="thumb"><img class="img-fluid" src="s13.jpg">
                            <br/><b>Oakland ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bobjectproductionperson_ss%5D%5B%5D=Xavier+Martinez&view=masonry ">
                        <div class="thumb"><img class="img-fluid" src="s14.jpg">
                            <br/><b>Xavier Martinez ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bobjectname_ss%5D%5B%5D=sculpture&view=masonry ">
                        <div class="thumb"><img class="img-fluid" src="s15.jpg">
                            <br/><b>Sculpture ></b>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="/?f%5Bobjectname_ss%5D%5B%5D=work+on+paper&per_page=50&search_field=text">
                        <div class="thumb"><img class="img-fluid" src="s16.jpg">
                            <br/><b>Works on paper ></b>
                        </div>
                    </a>
                </div>
        </td>
    </tr>
</table>