<div class="content">
    <p><strong>Requesting images and permissions:</strong></p>
    <p> Many of the images on our <a href="https://collections.museumca.org/">Collections website</a>, <a
            href="https://calisphere.org/institution/94/collections/">Calisphere</a>, and The <a
            href="https://oac.cdlib.org/institutions/Oakland+Museum+of+California">Online Archive of California</a>
        are available for licensing and reproduction. Permission is required
        for any commercial reproduction, public display, or distribution in any
        format, whether digital or print. OMCA charges fees for image use on a
        sliding scale based on the nature of the project.</p>
    <p> To request permission for reproduction and images of objects from OMCA’s collection please email <a
            href="mailto:rightsrepro@museumca.org">rightsrepro@museumca.org</a>.&nbsp;
        Due to a large number of open rights and reproduction projects, it will
        take up to 12 weeks for us to contact you regarding your request.
        Fulfillment of the request may take longer and apologize for this
        inconvenience. We try to match image size to the intended use, in most
        cases our images will not exceed 6000 pixels (or 20 inches at 300 DPI)
        on the long side, and there may be additional fees associated with
        requests for larger images.&nbsp;&nbsp;</p>
    <p><em>A note about copyright:</em></p>
    <p> While images and image use agreements are available through
        Reproduction Services, copyright and other proprietary rights may
        further restrict use of the images on this site or provided by OMCA.
        OMCA does not warrant that the use of these materials will not infringe
        on the rights of third parties, such as artists or estates that may hold
        rights to these materials. It is the responsibility of the applicant to
        satisfy copyright or other use restrictions before copying,
        transmitting, or making other use of protected items beyond that allowed
        by "fair use," as described in the <a href="http://copyright.gov/title17/">United States Copyright Act (Title
            17, USC)</a>.
        After OMCA has received your request for materials we will notify you
        if we require rights clearance before proceeding with your request.</p>
    <p><strong>California Library of Natural Sounds:</strong></p>
    <p> The California Library of Natural Sounds (CLNS) is a comprehensive
        collection of over 2500 audio recordings of nature sounds with an
        emphasis on California species and environments. It includes the sounds
        of specific insects, amphibians, reptiles, birds and mammals, as well as
        natural, ambient soundscapes. A small number of these recordings can be
        previewed online here: <a href="http://www.museumca.org/naturalsounds/index.html">Listening to Nature: A Sound
            Walk Across California</a>,
        and a full list can be made available upon request. Recordings from the
        CLNS are available for licensing and reproduction. Requests can be
        submitted by emailing <a href="mailto:rightsrepro@museumca.org">rightsrepro@museumca.org</a>.</p>
    <p><em>All requests are considered on a case-by-case basis at OMCA’s
        sole discretion. Some material is not available for reproduction due to
        size, condition, and other restrictions.</em></p>
    <p> For additional information please contact:<br>
        <strong>Rights and Reproductions</strong><br>
        <a href="mailto:rightsrepro@museumca.org">rightsrepro@museumca.org</a></p>
</div>
