<style>.wp-block-social-link{background:#F37043; border: none;}</style>
<footer class="site_footer container-fluid" role="contentinfo">
    <div class="footer__inner">
        <div class="row">
            <div class="col-9">
                <div class="footer">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item wp-block-social-link">
                            <a href="https://museumca.org/privacy-policy-2/" target="">Privacy Policy </a>
                        </li>
                        <li class="list-group-item wp-block-social-link">
                            <a href="https://museumca.org/terms-of-use/" target="">Terms of Use &amp; DMCA notice</a>
                        </li>
                        <li class="list-group-item wp-block-social-link">
                            <a href="https://museumca.org/reproduction/" target="">Reproduction</a>
                        </li>
                        <li class="list-group-item wp-block-social-link">
                            <a href="https://museumca.org/visit/accessibility/" target="">Accessibility </a>
                        </li>
                        <li class="list-group-item wp-block-social-link">
                            <a href="https://museumca.org/sitemap_index.xml" target="_blank">Sitemap </a>
                        </li>
                        <li class="list-group-item wp-block-social-link">© 2023 OMCA
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
