// css that augments or overrides bootstrap css

.card-title {
  padding: 0.5rem;
}

.card-padding {
  padding: 0.2rem;
}

.facet-values li .selected {
  color: #1d2c78 !important;
}

.facet-limit {
    margin-bottom: 5px;
}

.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}

.thumbclass {
  // max-height: 360px;
  max-width: 300px;
}

.document-thumbnail img {
  // max-height: 240px;
  // max-width: 240px;
}

@media print {
  a[href]:after {
    content: none;
  }
  .footer {
    display: none;
  }
}

.button:hover {
    background: #25399E;
    text-decoration: none;
    color: white
}
.load-more .button:hover {
    background: #25399E
}
a:hover .color_overlay {
    opacity: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms
}

.header-top ul li:last-child a:hover {
    background: #1bdba6;
    color: #25399E
}

form .file-label:hover .choose {
    color: #2ADBA7
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 500;
    line-height: 1.2
}
